
<h1 class="title" id="meetingName"><%= meeting.room %></h1>
<h1 class="subtitle">Meeting Pin: <%= meeting.pin %></h1>
<h1 class="subtitle">Your Nickname: <%= user[0].dataValues.nickname %> </h1>
<input type="text" name ="nickname" id="nickname" value="<%= user[0].dataValues.nickname %>" hidden>

<form action="/meeting/<%=meeting.pin%>/task" method="POST">
  <label class="label" for="taskInput"></label>
  <textarea class="textarea" name="taskInput" id="taskInput" placeholder="Write your idea here"></textarea>
  <button type="submit" class="button is-primary" id="addButton">Add</button>
</form>


<article class="message" id="example-box">
  <div class="message-header">
  <%= user[0].dataValues.nickname %>
  </div>

<div class="message-body">
    <h3 class="subtitle is-4">Rome Bell for President?</h3>

    <div>
       <li>RomeBell: This is stupid!</li>
    </div>

  </div>

</article>



<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
