<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/welcome" class="navbar-item">
        Stormboard
      </a>

    </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/welcome" class="navbar-item">
        Home
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div id="navBar" class="buttons">
          <a id="copyButton" class="button is-info is-outlined">Copy Invite Link</a>
          <a href="/welcome" class="button is-danger">
            <strong>Leave Meeting</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<h1 class="title" id="meetingName"><%= meeting.room %></h1>
<h1 id ="meetingPin" class="subtitle is-small">Meeting Pin: <%= meeting.pin %></h1>
<h1 class="subtitle">Your Nickname: <%= user.nickname %> </h1>

<form action="/meeting/<%=meeting.pin%>/task" method="POST">
  <label class="label" for="taskInput"></label>
  <textarea class="textarea" name="taskInput" id="taskInput" placeholder="Write your idea here"></textarea>
  <button type="submit" class="button is-primary" id="addButton">Add to Discussion</button>
  <input type="text" name="nickname" id="nickname" value="<%= user.nickname %>" hidden>
  </form>

<% task.forEach(t => { %>

<article class="message">
  <div class="message-header">
  <%= t.nickname %>
  <% if(t.nickname == user.nickname) { %>
    <form action="/meeting/<%=meeting.pin%>/task/<%=t.id%>/delete" method="POST">
    <button type="submit" class="delete">Delete</button>
    </form>
  <% } %>
  </div>
<div class="message-body">
    <h3 class="subtitle is-4"><%= t.content %></h3>
    <% comment.forEach(c => { %>
    <% if (c.taskId === t.id) { %>
      <li id="comment"><%= c.comment %></li>
    <% }})%>
    <form action="/meeting/<%=meeting.pin%>/comment/<%=t.id %>" method="POST" id="commentForm">
        <input class="input is-rounded" id="commentInput" type="text" name="commentInput">
        <button type="submit" class="button is-info is-rounded" id="commentSubmit">Reply</button>
    </form>
    <form action="/meeting/<%=meeting.pin%>/vote/<%= t.id %>" method="POST">
    <input type="text" name="userID" id="userID" value="<%= user.id %>" hidden>
    <input type="text" name="meetingID" id="meetingID" value="<%= meeting.id %>" hidden>
    <div id="voteDiv">
    <button class="button is-success is-outlined is-rounded" type="submit" id="voteButton">Vote</button>
    </div>
    </form>
    <% let voteCount = 0 %>
    <% vote.forEach(v => { %>
    <% if (v.taskId === t.id) { %>
    <% voteCount++ %>
    <% } %>
    <% }) %>
    <div id="voteCount" class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">Votes:</span>
          <span class="tag is-primary"><%= voteCount %></span>
        </div>
      </div>
  </article>
  <% }) %>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
